{% extends 'main/base.html' %}

{% block sidemenu %}
<div id="side-menu" class="list-group">
    <a href="/calculator" class="list-group-item list-group-item-action">Gaussian elimination</a>
    <a href="/jacobi" class="list-group-item list-group-item-action">Jacobi method</a>
    <a href="/seidel" class="list-group-item list-group-item-action">Gauss-Seidel method</a>
    <a href="#" class="list-group-item list-group-item-action">Least Squares</a>
    <a href="/newton" class="list-group-item list-group-item-action">Newton's method</a>
</div>
{% endblock %}