{% extends 'main/base.html' %}
{% block head %}
    {% load static %}
    <link href="{% static 'css/stylecalc.css' %}" rel="stylesheet">
    <script src="{% static 'js/gauss.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Gauss elimination</h1>
<div id="gauss">
    <div id="matrix">
        <div id="row-controller" class="matrix-controller">
            <button class="btn" onclick="addRow()">+</button>
            <button class="btn" onclick="removeRow()">-</button>
        </div>
        <div id="column-controller" class="matrix-controller">
            <button class="btn" onclick="addColumn()">+</button>
            <button class="btn" onclick="removeColumn()">-</button>
        </div>
        <div id="answer-container">
            <h1 style="text-align: left;">Answer:</h1>
            <h3 id="answer"></h3>
        </div>
    </div>
    <div></div>
    <button id="bub" class="btn btn-large" >Submit</button>
</div>

{% endblock %}
