{% extends 'main/base.html' %}
{% block head %}
    {% load static %}
    <link href="{% static 'css/stylecalc.css' %}" rel="stylesheet">
    <script src="{% static 'js/gauss.js' %}"></script>
{% endblock %}
    {% block content %}
    <div action="/calc/gauss" method="get" id="gauss">
        <p>Gauss elimination</p><br>
       <div class="flex">
           <input type="number" name="dim" id="dim" min="1"><br>
           <h3 id="answer"></h3>
       </div>
        <button id="bub" >Submit</button><br>
    </div>

{% endblock %}
